@font-face {
    font-family: "Poppins-Medium";
    src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-Light";
    src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
    font-family: "Poppins-Black";
    src: url("../fonts/Poppins-Black.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-ExtraBold.ttf");
}

html * {
    font-family: "Poppins";
}

body {
    background-color: #FAFAFA;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    text-align: center;
    padding: 0px;
    margin-right: 30px;
    text-decoration: none;
    position: relative;
    padding-bottom: 3px;
}

.topnav a:hover:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #5A4FCF;
    height: 2px;
    border-radius: 10px;
    transition: 0.3s;
}

.text-logo {
    font-family: "Nunito" !important;
}

.topnav a.active {
    position: relative;
    padding-bottom: 3px;
    color: #232631 !important;
}

.topnav a.active:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #5A4FCF;
    height: 2px;
    border-radius: 10px;
}

.btn-login{
    background-color: #5A4FCF10;
    color: #5A4FCF;
    font-family: 'Poppins-Medium';
    padding: 16px 28px 16px 28px;
    border-radius: 12px;
    margin-left: 20px;
}


.dropdown-toggle::after {
    display: none;
}

.text-default{
    color: #232631;
}

/* enable absolute positioning */
.input-icon {
    position: relative;
}

/* style icon */
.input-icon img {
    position: absolute;
    padding-left: 28px;
    padding-top: 16px;
    pointer-events: none;
}

/* align icon */
.left-icon .fa {
    left: 0px;
}

/* add padding  */
.left-icon input {
    padding-left: 62px;
}

.input-search{
    min-height: 56px;
    min-width: 322px;
    border-radius: 12px;
    padding-left: 28px;
    background-color: #FFF;
    border: none;
}

.card-benefit{
    min-height: 347px;
    max-width: 315px;
}
.card-hero{
    min-height: 40px;
    max-width: 60px;
    z-index: 999;
    left: -20px;
    top: 40px;
}

.text-title{
    color: #5A4FCF;
}

.img-hero{
    min-width: 1200px;
    border-radius: 24px !important;
}

.hero-slider{
    padding-left: 140px;
    position: relative;
}

.benefit{
    margin-left: 60px !important;
    margin-right: 60px !important;
    text-align: center;
}

body .scrolling-wrapper {
    overflow-x: auto;
    border-radius: 24px;
}

body .card-wrapper {
    border-radius: 24px;
    position: absolute;
    top: 133px;
    left: 80px;
    background: #FFF;
    height: 300px;
    width: 390px;
}

body .section::-webkit-scrollbar {
    height: 0 !important;
}

body .section::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

body .section::-webkit-scrollbar-thumb {
    background-color: #05BB2D;
    border-radius: 100px;
}

@media screen and (max-width: 768px) {
    body .title h1 {
        font-size: 48px;
    }
}

body .section::-webkit-scrollbar {
    height: 0 !important;
}

body .section::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

body .section::-webkit-scrollbar-thumb {
    background-color: #05BB2D;
    border-radius: 100px;
}

body .img-explore {
    height: 600px;
    padding: 0;
}

@media only screen and (max-width: 768px) {
    body .img-explore {
        height: 300px;
    }
}

body .img-explore img {
    width: 452px !important;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 24px;
}

@media only screen and (max-width: 768px) {
    body .img-explore img {
        width: 226px !important;
    }
}